
/* =IE7x Styles for Ultimedia
	Copyright ©2006 Ultimedia Ltd.
	Ultimedia V1
	Updated: 13-JULY-2006
----------------------------------------------------------------------- */


/* =HEADER NAVIGATION WITH HOME/CONTENT/HELP LINKS
----------------------------------------------------------------------- */
div#divHeaderNavContainer
{
	margin-bottom: 2em;
}

div.divHomePageSection
{
	padding-top: 1em;
}
	
