<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Main.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\directsports\database\dbDirectSports.mdb;User Id=;Password=;Jet OLEDB:System Database=;Jet OLEDB:Database password="/>
	</appSettings>
</configuration>
